body {
  display: none;
}

body.initialized {
	display: block;
}

/** Error Block: If Image Was Broken */
img {
	position: relative;
	min-height: 50px;
}

img:before {  
  	position: absolute;
  	top: 0;
  	left: 0;
  	display: block;
  	height: calc(100% + 10px);
  	width: 100%;
  	background-color: rgb(230, 230, 230);
  	
  	content: " ";
}

img:after {
	position: absolute;
	top: 10px;
	left: 0;
  	display: block;
	width: 100%;
  	
  	content: "Broken image:" " " attr(alt);
	text-align: center;  
  	font-size: 16px;
  	font-style: normal;
  	font-family: FontAwesome;
  	color: rgb(100, 100, 100);
}
/** End Of Error Block */

.header .header__button:before {
	margin-right: 5px;
}

/* Animation of classified card item */
.classified-card.ng-enter,
.classified-card.ng-move {
	opacity: 0;
	transition: 0.4s all;
}

.classified-card.ng-enter.ng-enter-active,
.classified-card.ng-move.ng-enter-active {
	opacity: 1;
}

.classified-card.ng-leave {
	animation: .4s fade_classified;
}

@keyframes fade_classified {
	from { opacity: 1; }
	to { opacity: 0; }
}
/* END of Animation of classified card item */